flows.json
[
    {
        "id": "e0803275bdcac180",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1da5016475402c1e",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6242732e510fa6bb",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a53ab117a50507b3",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55b2ce4ea70984fe",
        "type": "tab",
        "label": "Testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c2489ab43bd02f0e",
        "type": "tab",
        "label": "Netzwerk-Dummy",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b927ce4382b5b4a",
        "type": "sqlitedb",
        "db": "",
        "mode": "RWC"
    },
    {
        "id": "97158aa1.026308",
        "type": "sqlitedb",
        "db": "db_002"
    },
    {
        "id": "3c770aff.9ba2a6",
        "type": "ui_tab",
        "name": "Anmeldung",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d40ead3e.334ab",
        "type": "ui_group",
        "name": "",
        "tab": "3c770aff.9ba2a6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecd475138fd07684",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "907974f919b7eb48",
        "type": "ui_group",
        "name": "Anmeldung",
        "tab": "3c770aff.9ba2a6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "af9cb38.01d655",
        "type": "sqlitedb",
        "db": "/tmp/sqlite",
        "mode": "RWC"
    },
    {
        "id": "6b5b1f74.6f562",
        "type": "ui_group",
        "name": "Kreissäge",
        "tab": "a6b74173.c7ccc",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d1d9a7ea.ea1988",
        "type": "ui_group",
        "name": "Auswertung",
        "tab": "4ce63ea5.5bc4b",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6b74173.c7ccc",
        "type": "ui_tab",
        "name": "Maschinenlaufzeit",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4ce63ea5.5bc4b",
        "type": "ui_tab",
        "name": "Auswertung",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2b7ac01b.fc984",
        "type": "ui_group",
        "name": "SENSORS",
        "tab": "99ab8dc5.f435c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "99ab8dc5.f435c",
        "type": "ui_tab",
        "name": "HTTP",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5327e533db022d58",
        "type": "ui_text_input",
        "z": "e0803275bdcac180",
        "name": "",
        "label": "Benutzer",
        "tooltip": "",
        "group": "d40ead3e.334ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 840,
        "y": 340,
        "wires": [
            [
                "b061b9f26270deb3"
            ]
        ]
    },
    {
        "id": "6007ff851b286596",
        "type": "ui_text_input",
        "z": "e0803275bdcac180",
        "name": "",
        "label": "Passwort",
        "tooltip": "",
        "group": "d40ead3e.334ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "b061b9f26270deb3"
            ]
        ]
    },
    {
        "id": "72bfa42f56d4b359",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "2b927ce4382b5b4a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1230,
        "y": 460,
        "wires": [
            [
                "8a5b80724f075088"
            ]
        ]
    },
    {
        "id": "8a5b80724f075088",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1430,
        "y": 460,
        "wires": []
    },
    {
        "id": "b061b9f26270deb3",
        "type": "function",
        "z": "e0803275bdcac180",
        "name": "INSERT",
        "func": "var username = { \"topic\": \"INSERT INTO RANDOMNUM USERS ( \" + msg.payload + \", )\"\n}\nreturn username;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 460,
        "wires": [
            [
                "72bfa42f56d4b359"
            ]
        ]
    },
    {
        "id": "88288188a1aaeb64",
        "type": "ui_button",
        "z": "e0803275bdcac180",
        "name": "",
        "group": "d40ead3e.334ab",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Login",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 460,
        "wires": [
            [
                "b061b9f26270deb3"
            ]
        ]
    },
    {
        "id": "2f7637bf680b7051",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 600,
        "wires": [
            [
                "63e375590f5de06a"
            ]
        ]
    },
    {
        "id": "a1f7304375fa5a05",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "CREATE DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE USERS(\"userID\" INT PRIMARY KEY NOT NULL,\"user\" STRING NOT NULL, \"password\" STRING NOT NULL)",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 600,
        "wires": [
            [
                "2f7637bf680b7051"
            ]
        ]
    },
    {
        "id": "63e375590f5de06a",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 600,
        "wires": []
    },
    {
        "id": "db5a646ad61e66fb",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "INSERT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 660,
        "wires": [
            [
                "8589d1bc779f08a7"
            ]
        ]
    },
    {
        "id": "8589d1bc779f08a7",
        "type": "function",
        "z": "e0803275bdcac180",
        "name": "INSERT",
        "func": "var user = \"Till\";\nvar password= \"123\";\nvar userIndex = 1;\nvar newMsg = {\n \"topic\": \"INSERT INTO USERS(USERID,USER,PASSWORD) VALUES(\"+userIndex+\",\"+user+\",\"+password+\")\"\n}\nuserIndex++;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "daa4d21c0899955f"
            ]
        ]
    },
    {
        "id": "c6c5255dbc5af166",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1330,
        "y": 660,
        "wires": []
    },
    {
        "id": "daa4d21c0899955f",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "c6c5255dbc5af166"
            ]
        ]
    },
    {
        "id": "c7499082be8c73e9",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "DELETE 30s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM USERS WHERE TIMESTAMP <= strftime('%s','now', '-30 seconds')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 720,
        "wires": [
            [
                "5fd110ead6b65eba"
            ]
        ]
    },
    {
        "id": "5fd110ead6b65eba",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "71d1477cbbf3c040"
            ]
        ]
    },
    {
        "id": "5c58c7e183f9fcad",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "DELETE 24h",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM USERS WHERE TIMESTAMP <= strftime('%s','now', '-24 hours')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 760,
        "wires": [
            [
                "5fd110ead6b65eba"
            ]
        ]
    },
    {
        "id": "7be8d5ad65b1a02b",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "DELETE 7d",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM USERS WHERE TIMESTAMP <= strftime('%s','now', '-7 days')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 870,
        "y": 800,
        "wires": [
            [
                "5fd110ead6b65eba"
            ]
        ]
    },
    {
        "id": "71d1477cbbf3c040",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1330,
        "y": 720,
        "wires": []
    },
    {
        "id": "9e1144a3e88abb25",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "UPDATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UPDATE USERS",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 860,
        "wires": [
            [
                "a93aef0f6397b04b"
            ]
        ]
    },
    {
        "id": "a93aef0f6397b04b",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 860,
        "wires": [
            [
                "6a6ad5110ab36a65"
            ]
        ]
    },
    {
        "id": "6a6ad5110ab36a65",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1330,
        "y": 860,
        "wires": []
    },
    {
        "id": "f7edb34c5b0418d4",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "COUNT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT COUNT(*) FROM USERS",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 900,
        "wires": [
            [
                "a93aef0f6397b04b"
            ]
        ]
    },
    {
        "id": "40f353c21f809090",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM USERS ORDER BY USERID DESC LIMIT 100;",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 960,
        "wires": [
            [
                "ab40968a6de1f34f"
            ]
        ]
    },
    {
        "id": "ab40968a6de1f34f",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 960,
        "wires": [
            [
                "50b81034cb4557c6",
                "70c9291b557563a9"
            ]
        ]
    },
    {
        "id": "70c9291b557563a9",
        "type": "ui_template",
        "z": "e0803275bdcac180",
        "group": "d40ead3e.334ab",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "7",
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>UserID</th> \n    <th>Benutzername</th>\n    <th>Passwort</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].USER}}</td>\n    <td>{{msg.payload[$index].PASSWORD}}</td>\n  </tr>\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1340,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "50b81034cb4557c6",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1330,
        "y": 960,
        "wires": []
    },
    {
        "id": "882b9e9717120eb6",
        "type": "sqlite",
        "z": "e0803275bdcac180",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1160,
        "y": 1080,
        "wires": [
            [
                "52d8773814a73cc7"
            ]
        ]
    },
    {
        "id": "8b19793ed1ec6b78",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "DROP DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE USERS",
        "payload": "",
        "payloadType": "date",
        "x": 860,
        "y": 1080,
        "wires": [
            [
                "882b9e9717120eb6"
            ]
        ]
    },
    {
        "id": "52d8773814a73cc7",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fbce28e4fafea311",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Löscht vorhandene Datenbank",
        "info": "",
        "x": 570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8052818c02752b0f",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Erstellt Datenbank durch sql Befehl im topic",
        "info": "",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "e88de422fe08ccfa",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Erstellt timestamp, dessen payload durch INSERT Funktion modifiziert wird und an SQLite DB übergeben wird.",
        "info": "",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "a079dcf29d75f0cb",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Löscht Einträge der letzten 30s durch Timestamp Vergleich",
        "info": "",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "6998a6c973287db5",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Erstellt Datenbank durch sql Befehl im topic",
        "info": "",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "01e52465e5aa6278",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Erstellt Datenbank durch sql Befehl im topic",
        "info": "",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "492db222f0a5c647",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Erstellt Datenbank durch sql Befehl im topic",
        "info": "",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "14163d3a9cd1d3f3",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 380,
        "wires": []
    },
    {
        "id": "4a010388ceeece02",
        "type": "debug",
        "z": "e0803275bdcac180",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 300,
        "wires": []
    },
    {
        "id": "ad08074b212a8934",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "",
        "info": "",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "3740fe7d4c7b98c0",
        "type": "inject",
        "z": "e0803275bdcac180",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1720,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "df34f4353b836352",
        "type": "comment",
        "z": "e0803275bdcac180",
        "name": "Test",
        "info": "",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "24269b0cd6bb6d94",
        "type": "comment",
        "z": "1da5016475402c1e",
        "name": "all topics",
        "info": "\nCREATE TABLE RANDOMNUM( TIMESTAMP INT PRIMARY KEY NOT NULL, VALUE INT NOT NULL, BOOL INT NOT NULL)\n\n//INSERT\nvar randomNum = Math.round(Math.random()*100);\nvar largeBool = (randomNum > 50)?1:0;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + msg.payload + \", \" + randomNum + \", \" + largeBool + \")\"\n}\nreturn newMsg;\n\nDELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-30 seconds')*1000\nDELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-24 hours')*1000\nDELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-7 days')*1000\n\nSELECT COUNT(*) FROM RANDOMNUM\n\nUPDATE RANDOMNUM SET BOOL = 1 WHERE VALUE > 80 AND BOOL = 0\n\nSELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 100;\n<table style=\"width:100%\">\n  <tr>\n    <th>Sitzung</th> \n    <th>Datum</th>\n    <th>kw/H Verbrauch</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].VALUE}}</td> \n    <td>{{msg.payload[$index].BOOL}}</td>\n  </tr>\n</table>\n\n",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa08041617d12203",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "0b18365fab58e59c"
            ]
        ]
    },
    {
        "id": "fc3711fe20391ef7",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "CREATE DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE RANDOMNUM(VALUE INT NOT NULL, TIMESTAMP INT PRIMARY KEY NOT NULL, POWERCONSUMPTION INT NOT NULL )",
        "payload": "",
        "payloadType": "date",
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "aa08041617d12203"
            ]
        ]
    },
    {
        "id": "0b18365fab58e59c",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 240,
        "wires": []
    },
    {
        "id": "6b668363c2db0927",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "INSERT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 300,
        "wires": [
            [
                "e0c02986c0f31039"
            ]
        ]
    },
    {
        "id": "e0c02986c0f31039",
        "type": "function",
        "z": "1da5016475402c1e",
        "name": "INSERT",
        "func": "var randomNum = Math.round(Math.random()*100);\nvar timestamp = new Date();\nvar sessionIndex = 1;\nvar newMsg = {\n \"topic\": \"INSERT INTO RANDOMNUM VALUES ( \" + sessionIndex + \", \" + msg.payload + \", \" + randomNum + \")\"\n}\nsessionIndex++;\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 300,
        "wires": [
            [
                "6a77995892cf662f"
            ]
        ]
    },
    {
        "id": "cb155d7991bdf2cd",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 300,
        "wires": []
    },
    {
        "id": "6a77995892cf662f",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "cb155d7991bdf2cd"
            ]
        ]
    },
    {
        "id": "68a51a3dc82a6ac8",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "DELETE 30s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-30 seconds')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "ec149b429df34e76"
            ]
        ]
    },
    {
        "id": "ec149b429df34e76",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 360,
        "wires": [
            [
                "5822ddc119e325e6"
            ]
        ]
    },
    {
        "id": "08727ecdbe5725c5",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "DELETE 24h",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-24 hours')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 1090,
        "y": 400,
        "wires": [
            [
                "ec149b429df34e76"
            ]
        ]
    },
    {
        "id": "3bf9075dd950f7e1",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "DELETE 7d",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DELETE FROM RANDOMNUM WHERE TIMESTAMP <= strftime('%s','now', '-7 days')*1000",
        "payload": "",
        "payloadType": "date",
        "x": 1090,
        "y": 440,
        "wires": [
            [
                "ec149b429df34e76"
            ]
        ]
    },
    {
        "id": "5822ddc119e325e6",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 360,
        "wires": []
    },
    {
        "id": "bdb85124e7d12839",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "UPDATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UPDATE RANDOMNUM",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 500,
        "wires": [
            [
                "4f3b90030088f21f"
            ]
        ]
    },
    {
        "id": "4f3b90030088f21f",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 500,
        "wires": [
            [
                "59907034779e88ad"
            ]
        ]
    },
    {
        "id": "59907034779e88ad",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 500,
        "wires": []
    },
    {
        "id": "ea28f76e0d48afe5",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "COUNT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT COUNT(*) FROM RANDOMNUM",
        "payload": "",
        "payloadType": "date",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "4f3b90030088f21f"
            ]
        ]
    },
    {
        "id": "6bf222399a5b4782",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM RANDOMNUM ORDER BY TIMESTAMP DESC LIMIT 100;",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 600,
        "wires": [
            [
                "21b39077c346ea0c"
            ]
        ]
    },
    {
        "id": "21b39077c346ea0c",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 600,
        "wires": [
            [
                "c59c654cd293a885",
                "31e7903d946d21bd"
            ]
        ]
    },
    {
        "id": "31e7903d946d21bd",
        "type": "ui_template",
        "z": "1da5016475402c1e",
        "group": "d40ead3e.334ab",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "7",
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>Sitzung</th> \n    <th>Datum</th>\n    <th>kw/H Verbrauch</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n    <td>{{$index}}</td>\n    <td>{{msg.payload[$index].TIMESTAMP}}</td>\n    <td>{{msg.payload[$index].POWERCONSUMPTION}}</td>\n  </tr>\n</table>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1560,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c59c654cd293a885",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 600,
        "wires": []
    },
    {
        "id": "9f6b6c3c6a3996ba",
        "type": "sqlite",
        "z": "1da5016475402c1e",
        "mydb": "97158aa1.026308",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db_002",
        "x": 1380,
        "y": 720,
        "wires": [
            [
                "05456ab848979754"
            ]
        ]
    },
    {
        "id": "5cc4969fc84d73f5",
        "type": "inject",
        "z": "1da5016475402c1e",
        "name": "DROP DB",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE RANDOMNUM",
        "payload": "",
        "payloadType": "date",
        "x": 1080,
        "y": 720,
        "wires": [
            [
                "9f6b6c3c6a3996ba"
            ]
        ]
    },
    {
        "id": "05456ab848979754",
        "type": "debug",
        "z": "1da5016475402c1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "660653f5e0ebf46a",
        "type": "comment",
        "z": "1da5016475402c1e",
        "name": "Löscht vorhandene Datenbank",
        "info": "",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "a7b40cf6843aeee8",
        "type": "comment",
        "z": "1da5016475402c1e",
        "name": "Erstellt Datenbank durch sql Befehl im topic",
        "info": "",
        "x": 790,
        "y": 240,
        "wires": []
    },
    {
        "id": "692b0baef93c6615",
        "type": "comment",
        "z": "1da5016475402c1e",
        "name": "Erstellt timestamp, dessen payload durch INSERT Funktion modifiziert wird und an SQLite DB übergeben wird.",
        "info": "",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "84362c0a2b27cafa",
        "type": "comment",
        "z": "1da5016475402c1e",
        "name": "Löscht Einträge der letzten 30s durch Timestamp Vergleich",
        "info": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "1c2b36180bdd1ae9",
        "type": "debug",
        "z": "a53ab117a50507b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "e6470ed7a38945f1",
        "type": "inject",
        "z": "a53ab117a50507b3",
        "name": "alarm trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 426.9999771118164,
        "y": 515.2222151756287,
        "wires": [
            [
                "0efd31c06d4b1c22"
            ]
        ]
    },
    {
        "id": "fc8e16d062f3f477",
        "type": "function",
        "z": "a53ab117a50507b3",
        "name": "SimpleBlockingQueue",
        "func": "context.queue = context.queue || [];\n\nvar totalAllowedQueueSize = 20;\nvar mqtt_connected = false;\nvar blocked = false;\n\n// mqtt out node\nvar nextNode = RED.nodes.getNode(\"ae7f8962.dd8b18\");\n// status check\nmqtt_connected = nextNode.brokerConn.connected;\nif (context.queue.length >= totalAllowedQueueSize) blocked = true;\n\nif (msg.payload.op == \"reset\"  ) {\n   context.queue = [];\n} else if ( msg.payload.op == \"trigger\" ) {\n    // dequeue\n    if ( context.queue.length === 0 ) msg = null; // no action\n    else {\n       if ( mqtt_connected ) msg.payload = context.queue.shift();\n    }\n} else {\n    // enqueue\n    if ( !blocked ) context.queue.push(msg.payload);\n}\n\nif (mqtt_connected) {\n    if( !blocked )\n        node.status({fill:\"green\",shape:\"ring\",text: '('+context.queue.length+') stored,connected' });\n    else \n        node.status({fill:\"red\",shape:\"ring\",text: 'blocked,('+context.queue.length+') stored,connected' });\n} else {\n    if( !blocked ) \n        node.status({fill:\"red\",shape:\"ring\",text: '('+context.queue.length+') stored,disconnected' });\n    else\n        node.status({fill:\"red\",shape:\"ring\",text: 'blocked,('+context.queue.length+') stored,disconnected' });\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 532.5555486679077,
        "wires": [
            [
                "1c2b36180bdd1ae9",
                "f39aef2e75c37880"
            ]
        ]
    },
    {
        "id": "6b7fb96e7abc6677",
        "type": "inject",
        "z": "a53ab117a50507b3",
        "name": "report trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 426.9999694824219,
        "y": 558.2222146987915,
        "wires": [
            [
                "f85517a91ae73529"
            ]
        ]
    },
    {
        "id": "0efd31c06d4b1c22",
        "type": "function",
        "z": "a53ab117a50507b3",
        "name": "alarm generator",
        "func": "\nvar trigger  = Math.floor(Math.random() * 6);\n\nmsg.payload.timestamp = Date.now();\nswitch ( trigger ) {\ncase 0 :\ncase 2 :\ncase 4 :\n    msg.payload.op = 'report';\n    msg.payload.priority = 1;\n    msg.payload.task = 'Gas Leak';\n    break;  \ncase 1 :\ncase 3 :\ncase 5 :\n    msg.payload.op = 'report';\n    msg.payload.priority = 2;\n    msg.payload.task = 'Water Leak';\n    break;    \ndefault:\n    msg.payload.op = 'report';\n    msg.payload.priority = 'low';\n    msg.payload.task = 'Gas Task';\n    break;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 616,
        "y": 516.4444370269775,
        "wires": [
            [
                "fc8e16d062f3f477"
            ]
        ]
    },
    {
        "id": "f85517a91ae73529",
        "type": "function",
        "z": "a53ab117a50507b3",
        "name": "mqtt out trigger",
        "func": "msg.payload = { op : 'trigger' } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 615.9999961853027,
        "y": 559.4444379806519,
        "wires": [
            [
                "fc8e16d062f3f477"
            ]
        ]
    },
    {
        "id": "f39aef2e75c37880",
        "type": "mqtt out",
        "z": "a53ab117a50507b3",
        "name": "MQTT pub - node1/alarm",
        "topic": "node1/alarm",
        "qos": "",
        "retain": "",
        "broker": "d139ad3f.b28af",
        "x": 1084,
        "y": 581.1111183166504,
        "wires": []
    },
    {
        "id": "4ee440121715a6fe",
        "type": "debug",
        "z": "a53ab117a50507b3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 636,
        "y": 650.1111059188843,
        "wires": []
    },
    {
        "id": "fa6ab534ac4f32c3",
        "type": "debug",
        "z": "a53ab117a50507b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 663.9999961853027,
        "y": 695.1111059188843,
        "wires": []
    },
    {
        "id": "f29c7353d3c373af",
        "type": "mqtt in",
        "z": "a53ab117a50507b3",
        "name": "MQTT sub - node1/alarm",
        "topic": "node1/alarm",
        "qos": "2",
        "broker": "d139ad3f.b28af",
        "inputs": 0,
        "x": 453,
        "y": 695.2222166061401,
        "wires": [
            [
                "fa6ab534ac4f32c3"
            ]
        ]
    },
    {
        "id": "e1b22166372d3995",
        "type": "inject",
        "z": "a53ab117a50507b3",
        "name": "reset trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 428,
        "y": 599.2222166061401,
        "wires": [
            [
                "dc578435e33a8380"
            ]
        ]
    },
    {
        "id": "dc578435e33a8380",
        "type": "function",
        "z": "a53ab117a50507b3",
        "name": "reset trigger",
        "func": "msg.payload = { op : 'reset' } ;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 605.9999847412109,
        "y": 599.6527853012085,
        "wires": [
            [
                "fc8e16d062f3f477"
            ]
        ]
    },
    {
        "id": "1675b28812cb5115",
        "type": "mosca in",
        "z": "a53ab117a50507b3",
        "mqtt_port": "1883",
        "mqtt_ws_port": "",
        "name": "",
        "username": "",
        "password": "",
        "dburl": "",
        "x": 443,
        "y": 650.2222166061401,
        "wires": [
            [
                "4ee440121715a6fe"
            ]
        ]
    },
    {
        "id": "0c0e7f63d56c01d5",
        "type": "switch",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "25",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 240,
        "wires": [
            [
                "d27877569f238376"
            ],
            [
                "21e9a0ce6da2abde"
            ]
        ]
    },
    {
        "id": "d27877569f238376",
        "type": "change",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 200,
        "wires": [
            [
                "d02e53f7e1c98970"
            ]
        ]
    },
    {
        "id": "21e9a0ce6da2abde",
        "type": "change",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 280,
        "wires": [
            [
                "d02e53f7e1c98970"
            ]
        ]
    },
    {
        "id": "476ec21445060499",
        "type": "inject",
        "z": "55b2ce4ea70984fe",
        "name": "Test Inject",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "de44a2051b801b52"
            ]
        ]
    },
    {
        "id": "d02e53f7e1c98970",
        "type": "rbe",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 870,
        "y": 240,
        "wires": [
            [
                "2329d7c887f5f353",
                "f7c28187b1ba06d2",
                "48adfc17be024cec"
            ]
        ]
    },
    {
        "id": "0662217a96170239",
        "type": "debug",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1350,
        "y": 360,
        "wires": []
    },
    {
        "id": "2329d7c887f5f353",
        "type": "switch",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "6d48af1112bb95b5"
            ],
            [
                "5f9f527e2ee9e2af"
            ]
        ]
    },
    {
        "id": "6d48af1112bb95b5",
        "type": "function",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "func": "var start  = Math.floor(Date.now()/1000);\n\nglobal.set(\"startzeit\", start);\n\nvar msg1 = {payload : start};\n\n\nreturn [msg1];\n\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 280,
        "wires": [
            [
                "0662217a96170239"
            ]
        ]
    },
    {
        "id": "5f9f527e2ee9e2af",
        "type": "function",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "func": "var start = global.get(\"startzeit\");\nvar nutzer = global.get(\"nutzer\");\nvar end   = Math.floor(Date.now()/1000);\n\nvar dauer = end - start;\n\nvar msg1 = {payload : start};\nvar msg2 = {payload : end};\n\nsqlstatement = \"INSERT INTO daten(nutzer, time, dauer, maschine) values ('\" + nutzer + \"', \" + start + \", \" + dauer + \", 'Kreissäge')\";\n\nmsg.topic = sqlstatement;\n\n//msg.payload = {value:msg.payload, start:start, end:end, sql:sqlstatement};\n\n// return [msg1, msg2];\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 360,
        "wires": [
            [
                "0662217a96170239"
            ]
        ]
    },
    {
        "id": "48adfc17be024cec",
        "type": "ui_gauge",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "group": "6b5b1f74.6f562",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "91877fa0c133345d",
        "type": "moment",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Berlin",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "",
        "locale": "en-US",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Berlin",
        "x": 240,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4636a8bef56ff67c",
        "type": "debug",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7c28187b1ba06d2",
        "type": "debug",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "de44a2051b801b52",
        "type": "function",
        "z": "55b2ce4ea70984fe",
        "name": "RandFloat",
        "func": "var number = msg.payload\nmsg.payload = (Math.random() * (number - 1) + 1).toFixed(2).toString()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "4636a8bef56ff67c",
                "0c0e7f63d56c01d5"
            ]
        ]
    },
    {
        "id": "3fb39f0217826977",
        "type": "function",
        "z": "55b2ce4ea70984fe",
        "name": "RandNum",
        "func": "var number = msg.payload\nmsg.payload = parseFloat(Math.floor(Math.random() * number - 1) + 1)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "18714dd186fd682c",
        "type": "uibuilder",
        "z": "55b2ce4ea70984fe",
        "name": "",
        "topic": "",
        "url": "uibuiler_Test",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.0.2",
        "x": 200,
        "y": 760,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "599740b7.efde9",
        "type": "http response",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 520,
        "wires": []
    },
    {
        "id": "1618a829.76f638",
        "type": "json",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "d0089cc7.d25ac"
            ]
        ]
    },
    {
        "id": "c7410fa2.1c2fa",
        "type": "debug",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "75a22f74.f1aba",
        "type": "ui_text",
        "z": "c2489ab43bd02f0e",
        "group": "2b7ac01b.fc984",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor Name",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 980,
        "y": 600,
        "wires": []
    },
    {
        "id": "1c8f9093.8bc2bf",
        "type": "ui_gauge",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "a5bd2706.54e108",
        "type": "ui_gauge",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0080ff",
            "#0062c4",
            "#002f5e"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 720,
        "wires": []
    },
    {
        "id": "105ac2cc.7b3cfd",
        "type": "ui_gauge",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "group": "2b7ac01b.fc984",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1200",
        "colors": [
            "#b366ff",
            "#8000ff",
            "#440088"
        ],
        "seg1": "",
        "seg2": "",
        "x": 960,
        "y": 780,
        "wires": []
    },
    {
        "id": "d0089cc7.d25ac",
        "type": "function",
        "z": "c2489ab43bd02f0e",
        "name": "JSON or URL Encoded",
        "func": "var msg0 = { payload: msg.payload.api_key };\nvar msg1 = { payload: msg.payload.sensor };\nvar msg2 = { payload: msg.payload.value1 };\nvar msg3 = { payload: msg.payload.value2 };\nvar msg4 = { payload: msg.payload.value3 };\n\nreturn [msg0, msg1, msg2, msg3, msg4];",
        "outputs": 5,
        "noerr": 0,
        "x": 730,
        "y": 640,
        "wires": [
            [
                "c7410fa2.1c2fa"
            ],
            [
                "75a22f74.f1aba"
            ],
            [
                "1c8f9093.8bc2bf"
            ],
            [
                "a5bd2706.54e108"
            ],
            [
                "105ac2cc.7b3cfd"
            ]
        ]
    },
    {
        "id": "5d9ab0d2.66b92",
        "type": "http in",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "url": "update-sensor",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 571,
        "wires": [
            [
                "599740b7.efde9",
                "c7410fa2.1c2fa",
                "1618a829.76f638"
            ]
        ]
    },
    {
        "id": "7f5cf345.63f56c",
        "type": "http response",
        "z": "c2489ab43bd02f0e",
        "name": "HTTP Antwort an den Mikrocontroller",
        "statusCode": "200",
        "headers": {},
        "x": 930,
        "y": 120,
        "wires": []
    },
    {
        "id": "6530621.95b429c",
        "type": "http in",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "url": "/get-sensor",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 431,
        "wires": [
            [
                "9471d1a0.68588"
            ]
        ]
    },
    {
        "id": "5ddc9f47.4b555",
        "type": "http response",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 660,
        "y": 391,
        "wires": []
    },
    {
        "id": "9471d1a0.68588",
        "type": "function",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "func": "msg.payload = {\"value1\":24.25, \"value2\":49.54, \"value3\":1005.14};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 431,
        "wires": [
            [
                "5ddc9f47.4b555",
                "13aea59.7430e5a"
            ]
        ]
    },
    {
        "id": "13aea59.7430e5a",
        "type": "debug",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 459,
        "wires": []
    },
    {
        "id": "e71c7a7d.e7c598",
        "type": "debug",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "c7807102.3f433",
        "type": "http in",
        "z": "c2489ab43bd02f0e",
        "name": "",
        "url": "/sendDummyData",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 171,
        "wires": [
            [
                "60410cde.562a34"
            ]
        ]
    },
    {
        "id": "60410cde.562a34",
        "type": "function",
        "z": "c2489ab43bd02f0e",
        "name": "Daten Auslesen und Konvertieren",
        "func": "var userID = msg.payload.UserID;\nvar maschinenName = msg.payload.MaschinenName;\nvar dauer = msg.payload.Dauer;\nvar timestamp = new Date();\nvar ende = timestamp;\nvar calculation = timestamp.getTime() - dauer;\nvar anfang = new Date(calculation);\nvar strom = msg.payload.Strom;\n\nmsg.payload = \"Input: UserID= \" + userID + \"; MaschinenName= \" + maschinenName + \"; Anfang= \" + anfang + \"; Ende= \" + ende + \"; Dauer in Millisekunden= \" + dauer + \"; Strom=\" + strom + \" Wh\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 171,
        "wires": [
            [
                "e71c7a7d.e7c598",
                "7f5cf345.63f56c"
            ]
        ]
    },
    {
        "id": "95e8d5f1d79366c8",
        "type": "comment",
        "z": "c2489ab43bd02f0e",
        "name": "Hinweis",
        "info": "Der Mikrocontroller sendet einen GET Request an die Domain http://(IP des eigenen Rechners):1880/sendDummyData.\n\nDabei werden ein paar Daten angehängt.\nDiese können dann in der Funktion über den Message Payload abgefragt werden.\n\nDie Funktion kann als Vorlage für den eigentlichen Server verwendet werden oder einfach nur zum Testen.",
        "x": 490,
        "y": 120,
        "wires": []
    }
]