OldFlowsOnPi.json
[{"id":"70e0d7ed.51e808","type":"tab","label":"Maschinentracker","disabled":false,"info":""},{"id":"a428570c.ba1898","type":"function","z":"70e0d7ed.51e808","name":"","func":"var output = msg.payload.split(\" \");\n\nvar NodeID = parseInt(output[0]);\nvar RP1    = parseFloat(output[2]);\nvar Vrms   = parseFloat(output[15]);\n\nvar msg1 = {payload : NodeID};\nvar msg2 = {payload : RP1};\nvar msg3 = {payload : Vrms};\n\nreturn [msg2];","outputs":1,"noerr":0,"x":590,"y":160,"wires":[["d1c2e42e.4e1948"]]},{"id":"49baf463.1aa47c","type":"debug","z":"70e0d7ed.51e808","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":320,"wires":[]},{"id":"d1c2e42e.4e1948","type":"switch","z":"70e0d7ed.51e808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":380,"wires":[["6f80861d.e779c8"],["e8151a56.521d58"]]},{"id":"6f80861d.e779c8","type":"change","z":"70e0d7ed.51e808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["1ccfc57b.03d0cb"]]},{"id":"e8151a56.521d58","type":"change","z":"70e0d7ed.51e808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":440,"wires":[["1ccfc57b.03d0cb"]]},{"id":"3c4e5d97.214eb2","type":"inject","z":"70e0d7ed.51e808","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["92e010bb.86886"]]},{"id":"92e010bb.86886","type":"serial request","z":"70e0d7ed.51e808","name":"","serial":"227bf809.b629f8","x":390,"y":160,"wires":[["a428570c.ba1898"]]},{"id":"1ccfc57b.03d0cb","type":"rbe","z":"70e0d7ed.51e808","name":"","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":590,"y":380,"wires":[["49baf463.1aa47c","3e7c68ec.300c68","ef9351e4.b64a9"]]},{"id":"f05123c2.9813a","type":"sqlite","z":"70e0d7ed.51e808","mydb":"af9cb38.01d655","sqlquery":"msg.topic","sql":"","name":"","x":430,"y":1700,"wires":[["7d40c321.931f4c"]]},{"id":"384281a7.fc8b8e","type":"inject","z":"70e0d7ed.51e808","name":"CREATE","topic":"CREATE TABLE daten(id INTEGER PRIMARY KEY AUTOINCREMENT, nutzer NUMERIC, time TIME, dauer TIME, maschine TEXT)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1580,"wires":[["f05123c2.9813a"]]},{"id":"6672e944.fa4c98","type":"inject","z":"70e0d7ed.51e808","name":"INSERT","topic":"INSERT INTO daten(nutzer, time, dauer, maschine) values ('Anton', 1611171060762, 2223, 'Kreissäge')","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1640,"wires":[["f05123c2.9813a"]]},{"id":"e1d6bb15.221fc8","type":"inject","z":"70e0d7ed.51e808","name":"SELECT","topic":"SELECT * FROM daten","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1700,"wires":[["f05123c2.9813a"]]},{"id":"5e485381.e4efbc","type":"inject","z":"70e0d7ed.51e808","name":"DELETE","topic":"DELETE from daten","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1760,"wires":[["f05123c2.9813a"]]},{"id":"f3097729.537098","type":"inject","z":"70e0d7ed.51e808","name":"DROP","topic":"DROP TABLE daten","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1820,"wires":[["f05123c2.9813a"]]},{"id":"7d40c321.931f4c","type":"debug","z":"70e0d7ed.51e808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":1700,"wires":[]},{"id":"6d789924.a943c8","type":"debug","z":"70e0d7ed.51e808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":540,"wires":[]},{"id":"3e7c68ec.300c68","type":"switch","z":"70e0d7ed.51e808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":520,"wires":[["281c3044.ed8e5"],["4641f5da.743cec"]]},{"id":"281c3044.ed8e5","type":"function","z":"70e0d7ed.51e808","name":"","func":"var start  = Math.floor(Date.now()/1000);\n\nglobal.set(\"startzeit\", start);\n\nvar msg1 = {payload : start};\n\n\nreturn [msg1];\n\n\n\n\n","outputs":1,"noerr":0,"x":770,"y":500,"wires":[[]]},{"id":"4641f5da.743cec","type":"function","z":"70e0d7ed.51e808","name":"","func":"var start = global.get(\"startzeit\");\nvar nutzer = global.get(\"nutzer\");\nvar end   = Math.floor(Date.now()/1000);\n\nvar dauer = end - start;\n\nvar msg1 = {payload : start};\nvar msg2 = {payload : end};\n\nsqlstatement = \"INSERT INTO daten(nutzer, time, dauer, maschine) values ('\" + nutzer + \"', \" + start + \", \" + dauer + \", 'Kreissäge')\";\n\nmsg.topic = sqlstatement;\n\n//msg.payload = {value:msg.payload, start:start, end:end, sql:sqlstatement};\n\n// return [msg1, msg2];\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":770,"y":540,"wires":[["e3e7661b.35c318"]]},{"id":"e3e7661b.35c318","type":"sqlite","z":"70e0d7ed.51e808","mydb":"af9cb38.01d655","sqlquery":"msg.topic","sql":"","name":"","x":950,"y":540,"wires":[["6d789924.a943c8"]]},{"id":"80045218.51e5c","type":"inject","z":"70e0d7ed.51e808","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":500,"wires":[["1ccfc57b.03d0cb"]]},{"id":"736dbaeb.4fadc4","type":"inject","z":"70e0d7ed.51e808","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":410,"y":540,"wires":[["1ccfc57b.03d0cb"]]},{"id":"3c315cb2.a3caa4","type":"inject","z":"70e0d7ed.51e808","name":"SELECT","topic":"SELECT * FROM daten","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":1060,"wires":[["bdbca26c.353b2"]]},{"id":"bdbca26c.353b2","type":"sqlite","z":"70e0d7ed.51e808","mydb":"af9cb38.01d655","sqlquery":"msg.topic","sql":"","name":"","x":330,"y":1060,"wires":[["8f902e9b.1a947"]]},{"id":"8f902e9b.1a947","type":"csv","z":"70e0d7ed.51e808","name":"","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"id, nutzer, time, dauer, maschine","skip":"0","strings":true,"x":510,"y":1060,"wires":[["4b026b88.844624"]]},{"id":"4b026b88.844624","type":"file","z":"70e0d7ed.51e808","name":"","filename":"/home/pi/.node-red/node_modules/node-red-dashboard/dist/usage.csv","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":870,"y":1060,"wires":[[]]},{"id":"56145555.91eaac","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":3,"width":"4","height":"1","passthru":false,"label":"Anton","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Anton","payloadType":"str","topic":"","x":144,"y":1224,"wires":[["28f5fd9a.e48802"]]},{"id":"28f5fd9a.e48802","type":"function","z":"70e0d7ed.51e808","name":"","func":"var nutzer  = msg.payload;\n\nglobal.set(\"nutzer\", nutzer);\n\nvar msg1 = {payload : nutzer};\n\n\nreturn [msg1];\n\n\n\n\n","outputs":1,"noerr":0,"x":304,"y":1164,"wires":[["45a61e74.d86fc"]]},{"id":"45a61e74.d86fc","type":"ui_text","z":"70e0d7ed.51e808","group":"6b5b1f74.6f562","order":1,"width":"0","height":"0","name":"","label":"Eingeloggt","format":"{{msg.payload}}","layout":"col-center","x":464,"y":1164,"wires":[]},{"id":"b675c4dd.e65028","type":"inject","z":"70e0d7ed.51e808","name":"","topic":"","payload":"keiner","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":1160,"wires":[["28f5fd9a.e48802"]]},{"id":"d394f403.9b9868","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":4,"width":"4","height":"1","passthru":false,"label":"ATIC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ATIC","payloadType":"str","topic":"","x":144,"y":1264,"wires":[["28f5fd9a.e48802"]]},{"id":"7ee87bf9.4bfa24","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":5,"width":"4","height":"1","passthru":false,"label":"Gabriel","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Gabriel","payloadType":"str","topic":"","x":154,"y":1304,"wires":[["28f5fd9a.e48802"]]},{"id":"351e75d.572a18a","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":6,"width":"4","height":"1","passthru":false,"label":"Momo","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Momo","payloadType":"str","topic":"","x":144,"y":1344,"wires":[["28f5fd9a.e48802"]]},{"id":"410dcc95.7b3054","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":7,"width":0,"height":0,"passthru":false,"label":"Ausloggen","tooltip":"","color":"","bgcolor":"gray","icon":"","payload":"keiner","payloadType":"str","topic":"","x":164,"y":1384,"wires":[["28f5fd9a.e48802"]]},{"id":"ef9351e4.b64a9","type":"ui_gauge","z":"70e0d7ed.51e808","name":"","group":"6b5b1f74.6f562","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":940,"y":420,"wires":[]},{"id":"e5d05722.067528","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"d1d9a7ea.ea1988","order":1,"width":"0","height":"0","passthru":false,"label":"CSV Generieren","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"SELECT * FROM daten","x":160,"y":1000,"wires":[["bdbca26c.353b2"]]},{"id":"d1d8801b.6d5de","type":"ui_button","z":"70e0d7ed.51e808","name":"","group":"d1d9a7ea.ea1988","order":1,"width":"0","height":"0","passthru":false,"label":"Datenbank Löschen","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"DELETE from daten","x":200,"y":1880,"wires":[["f05123c2.9813a"]]},{"id":"244f0d5b.9e7332","type":"moment","z":"70e0d7ed.51e808","name":"","topic":"","input":"","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en-US","output":"","outputType":"msg","outTz":"Europe/Berlin","x":780,"y":660,"wires":[[]]},{"id":"227bf809.b629f8","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"38400","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"af9cb38.01d655","type":"sqlitedb","z":"","db":"/tmp/sqlite","mode":"RWC"},{"id":"6b5b1f74.6f562","type":"ui_group","z":"","name":"Kreissäge","tab":"a6b74173.c7ccc","order":1,"disp":true,"width":"8","collapse":false},{"id":"d1d9a7ea.ea1988","type":"ui_group","z":"","name":"Auswertung","tab":"4ce63ea5.5bc4b","order":1,"disp":false,"width":"6","collapse":false},{"id":"a6b74173.c7ccc","type":"ui_tab","z":"","name":"Maschinenlaufzeit","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"4ce63ea5.5bc4b","type":"ui_tab","z":"","name":"Auswertung","icon":"dashboard","order":2,"disabled":false,"hidden":false}]